body{
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
	line-height:2.5;
	padding:0;
	margin:0;
	background-color:white;
}
/* Global */
.container
{
	width:80%;
	margin:auto;
	overflow:hidden;
    font: darkblue;
}
ul{
	margin:0;
	padding:0;
}
.button_1{
	height:38px;
	background: darkblue;
	border:0;
	padding-left:20px;
	padding-right:20px;
	color: white;
}
.dark{
	padding:15px;
	background: darkblue;
	color: white;
	margin-top:10px;
	margin-bottom:10px;
}
/* Header **/
header{
background: darkgrey;
color:white;
padding-top:30px;
min-height: 70px;
border-bottom: darkblue 5px solid;

}
header a{
	color:white;
	text-decoration:none;
	text-transform:uppercase;
	font-size:18px;
    font-style: italic;
    font-weight:bold;
    color: darkblue;
}

header li{
	float:left;
	display:inline;
	padding: 0 20px 0 20px;
}
Header #branding{
	float:left;
}
header #branding h1{
	margin:0;
}
header nav{
	float:right;
	margin-top:5px;
}
header .highlight, header .current a{
	color: darkblue;
	font-weight:bold;
}
header a:hover{
	color:white;
	font-weight:bold;
}
/* Showcase */
#showcase{
	 min-height: 400px;
	 background:url('../images/background4.jpg') no-repeat;
	 background-size:2000px 600px;
	 text-align:center;
	 color: white;
    
 }
 #showcase h1{
	 margin-top: 35px;
	 font-size:60px;
	 margin-bottom:10px;
 }
 #showcase p{
	 font-size:30px;
 }
 /* newsletter*/
 #newsletter{
	 padding:5px;
	 color: white;
	 background:#35424a
 }
 #newsletter h1{
	 float:left;
 }
#newsletter form{
	float:right;
	margin-top: 20px;
}
#newsletter input[type="email"]{
	padding::4px;
	height:25px;
	width:250px;
}
/*boxes */
#boxes{
	margin-top:30px;
	text-align:  align: center;
}
#boxes .box{
	float:left;
	text-align: center;
	width:25%;

}
/* sidebar */
aside#sidebar{
	float:right;
	width:30%;
	margin-top:10px;


}
/* main-col */
article#main-col{
	float:left;
	width:50%;
		margin-top:10px;

}
footer{
	padding: :300px;
	margin-top: 550px;
	color: white;
	background-color: darkblue;
	text-align:center;
}
table2{
color: darkblue;
  
}
